{% extends "layout.html" %}
{% block title %}
VFZ Sync
{% endblock %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>
    <script type=text/javascript>
      $(function() {
        $('a#sync').bind('click', function() {
          $('#result').attr('class', "")
          $("#result").text("Syncing..");
          // $.getJSON($SCRIPT_ROOT + '/api/sync/run', {
          $.getJSON('api/sync/run', {
          }, function(data) {
            if (data.success) {
              $("#result").text("Synchronization succeeded.");
              $('#result').attr('class', "success");
            } else {
              $("#result").text("Synchronization failed: " + data.message + "\nException: \n" + data.exception);
              $('#result').attr('class', "error");
            }
          });
          return false;
        });
      });
    </script>
{% endblock %}

{% block content %}
    <h1>VFZ Sync</h1>
    <span id=result>Press Sync to start</span>
    <p><a href=# id=sync>Sync</a>
{% endblock %}