{% extends "layout.html" %}
{% block title %}
VFZ Sync
{% endblock %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $(function() {
        $('a').bind('click', function() {
          $('#result').attr('class', "");
          $("#result").text("Syncing..");
          $.getJSON('api/sync/run?mode=' + event.target.id, {
          }, function(data) {
            if (data.success) {
              $("#result").text("Synchronization succeeded.");
              $('#result').attr('class', "success");
            } else {
              $("#result").text("Synchronization failed: " + data.message + "\nException: \n" + data.exception);
              $('#result').attr('class', "error");
            }
          });
          return false;
        });
      });
    </script>
{% endblock %}

{% block content %}
    <h1>VFZ Sync</h1>
    <span id=result>Press Sync to start</span>
    <p><a href=# id=vpoller-fnt>Sync vpoller-fnt</a>
    <p><a href=# id=fnt-zabbix>Sync fnt-zabbix</a>
{% endblock %}